*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255) ;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px ;
    padding-right: 15px ;
    /* margin: 10px; */
}
header{
    width: 100%;
    height: 10%;
    background-color: rgb(201,237,255);
    text-align: center;
    border-radius: 10px;
    
}
nav{
    margin-top: 5px;
    width: 100%; 
    height: 4%;  
    background-color: rgb(250,207,214);
    text-align: center;
    border-radius: 10px;

}
main{
    margin-top: 5px;
    width: 100%;
    height: 48%;
    /* background-color: blueviolet; */
    display: flex;

}
.div1{
    width: 70%;
    height: 100%;
    /* background-color: orange; */
}
.div2{
    width: 30%;
    height: 101%;
    background-color: rgb(255,242,181);
    border-radius: 10px;
}
.div11{
    width: 99%;
    height: 50%;
    text-align: center;
    background-color: rgb(237,255,168);
    border-radius: 10px;
}
.div12{
    margin-top: 5px;
    width: 99%;
    height: 50%;
    background-color: rgb(222,209,237);
    text-align: center;
    border-radius: 10px;
}
footer{
    margin-top: 14px;
    width: 100%;
    height: 33%;
    background-color: rgb(186,255,214);
    text-align: center;
    border-radius: 10px;

}
